<%= form_tag( :controller => "tweets", :action => "create", :remote => true ) do %>

  <div class="field">
    <%= label_tag(:content, "What's on your tweet?") %><br>
    <%= text_area_tag(:content, nil, :size => "24x4") %>
  </div>
  <div class="actions">
    <%= submit_tag("Tweet") %>
  </div>
<% end %>
