<table>
  <thead>
    <tr>
      <th>Your Tweets</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr id="tweet">
        <td><%= tweet.content %></td>
        <td><%= link_to 'Show', tweet_path(tweet.id) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <td><p>Tweeted <%= time_ago_in_words(tweet.created_at) %> ago</p></td>
      </tr>
      <br/>
    <% end %>
  </tbody>
</table>
